<div class="container-fluid px-0 overflow-hidden">
    <div class="row text-center py-2 mt-3">
        <div class="col-12 mx-auto">
            <a href="/"><button type="button" class="btn bg-gradient-info btn-lg"><i class="fas fa-home"></i>
                    {{lang.global.button.home}}</button></a>
            <a href="/library"><button type="button" class="btn bg-gradient-success btn-lg"><i class="fas fa-book"></i>
                    {{lang.global.button.library}}</button></a>
            <a href="/library/accessory"><button type="button" class="btn bg-gradient-sr-sliver-wolf btn-lg"><i
                        class="fas fa-gem"></i>
                    {{lang.global.button.accessorylib}}</button></a>
            <a href="//bili33.top/sponsors" target="_blank"><button type="button"
                    class="btn bg-gradient-primary btn-lg"><i class="fas fa-coins"></i>
                    {{lang.global.button.sponsor}}</button></a>
        </div>
    </div>
</div>