{% if announcement and announcement_id %}
<div id="announcementNotice">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h3>{{lang.global.announcement.title}}</h3>
        <p>{{announcement|safe}}</p>
      </div>
      <div class="col-auto">
        <button type="button" id="announcementBtn">{{lang.global.announcement.button}}</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
  integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endif %}
