<!--
=========================================================
* Soft UI Design System - v1.0.9
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <title>
    {{lang.error.error404.tip}} | Valora | GamerNoTitle
  </title>
  {% include "public/head.html" %}
</head>

<body class="index-page">
  {% include 'public/body.html' %}

  {% include 'public/components/announcement.html' %}

  {% include 'public/components/nav.html' %}

  {% include 'public/components/header.html' %}

  <section>
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
          <h1 class="text-gradient text-danger mb-0 mt-2" align="center">{{lang.error.error404.error}}<br>404 Not Found
          </h1><br>
          <div class="container-fluid px-0 overflow-hidden">
            <div class="row text-center py-2 mt-3">
              <div class="col-12 mx-auto">
                <a href="/"><button type="button" class="btn bg-gradient-danger btn-lg"
                    width="100%"><strong>{{lang.error.error404.button.home}}</strong></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "public/footer.html" %}
</body>