<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <title>
    Auth Info 认证信息 | Valora | GamerNoTitle
  </title>
  {% include "public/head.html" %}
</head>
<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="165758" async="async"
  type="text/javascript"></script>

<body class="index-page">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
    integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <div class="container py-2 mt-2 overflow-hidden">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">auth-info</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
  <style>
    .container p {
      word-wrap: break-word;
    }
  </style>
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-6">
        <h3 class="text-gradient text-primary mb-0 mt-2">Auth Info 认证信息 | Valorant shop checker</h3>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">access token:</fonts> {{access_token}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">entitlement token:</fonts> {{entitlement}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">region:</fonts> {{region}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">userid:</fonts> {{userid}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">name:</fonts> {{name}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">tag:</fonts> {{tag}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">username:</fonts> {{name}}#{{tag}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">cookies:</fonts> {{cookie}}
        </p>
        <p>
          <fonts class="text-gradient text-primary mb-0 mt-2">user-agent:</fonts> {{ua}}
        </p>
      </div>
    </div>
  </div>
  {% include "public/footer.html" %}
</body>