<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    <title>
        {{lang.global.title.title}} | Valora | GamerNoTitle
    </title>
    {% include "public/head.html" %}
</head>

<body class="index-page">
    {% include 'public/body.html' %}

    {% include 'public/components/announcement.html' %}

    {% include 'public/components/nav.html' %}

    {% include 'public/components/header.html' %}

    {% include "public/components/library/accessory_buttons.html" %}

    <div width="100%">
        <h1 class="text-gradient text-primary mb-0 mt-2" align="center">{{lang.accessorylib.title.title}}</h1>
        <hr>
        {% include "public/components/library/item_buttons.html" %}
        <br>
        <div class="table-responsive table-bordered" width="100%">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">English</th>
                        <th class="text-center">简体中文</th>
                        <th class="text-center">繁體中文</th>
                        <th class="text-center">日本語</th>
                    </tr>
                </thead>
                <tbody>
                    {% for title in titles %}
                    <tr>
                        <td class="text-center">
                            <h3 class="text-gradient text-primary mb-0 mt-2">{{title.en|replace(' Title', '')}}</h3>
                        </td>
                        <td class="text-center">
                            <h3 class="text-gradient text-dark mb-0 mt-2">{{title.zhCN|replace(' 称号', '')}}</h3>
                        </td>
                        <td class="text-center">
                            <h3 class="text-gradient text-dark mb-0 mt-2">{{title.zhTW|replace(' 稱號', '')}}</h3>
                        </td>
                        <td class="text-center">
                            <h3 class="text-gradient text-dark mb-0 mt-2">{{title.jaJP|replace(' タイトル', '')}}</h3>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "public/footer.html" %}
</body>