<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    <title>
        {{lang.global.title.trans}} | Valora | GamerNoTitle
    </title>
    {% include "/public/head.html" %}
</head>
<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="165758" async="async"
    type="text/javascript"></script>

<body class="index-page">
    {% include 'public/body.html' %}

    {% include 'public/components/announcement.html' %}

    {% include 'public/components/nav.html' %}

    {% include 'public/components/header.html' %}

    {% include "public/components/trans/buttons.html" %}
    <div width="100%">
        <h1 class="text-gradient text-primary mb-0 mt-2" align="center">{{lang.trans.title}}</h1>
        <br>
        {% include "public/components/trans/item_buttons.html" %}
        <div class="table-responsive table-bordered" width="100%">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">English</th>
                        <th class="text-center">简体中文</th>
                        <th class="text-center">繁體中文</th>
                        <th class="text-center">日本語</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td class="text-center">
                            <h3 class="text-gradient text-primary mb-0 mt-2">{{data.en}}</h3>
                        </td>
                        <td class="text-center">
                            <h3 class="text-gradient text-dark mb-0 mt-2">{{data.zhCN}}</h3>
                        </td>
                        <td class="text-center">
                            <h3 class="text-gradient text-dark mb-0 mt-2">{{data.zhTW}}</h3>
                        </td>
                        <td class="text-center">
                            <h3 class="text-gradient text-dark mb-0 mt-2">{{data.jaJP}}</h3>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% include "public/footer.html" %}
</body>