<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="Valorant, Skin, 瓦罗兰特, 无畏契约">
<meta name="description"
    content="Valora (also named Valorant Shop Checker) is a site that helps you check your valorant daily shop and night market without opening the game or installing an app." />
<meta name="author" content="GamerNoTitle, GamerNoTitle@outlook.com">
<meta name="copyright" content="Copyright &copy; 2023 GamerNoTitle. All rights reserved.">
<meta name="baidu-site-verification" content="codeva-TGDaXGUlDE" />
<link rel="apple-touch-icon" sizes="76x76"
    href="https://cdn.bili33.top/gh/GamerNoTitle/Valora@master/assets/img/favicon.png">
<link rel="icon" type="image/png" href="https://cdn.bili33.top/gh/GamerNoTitle/Valora@master/assets/img/favicon.png">
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<!-- Nucleo Icons -->
<link href="https://cdn.bili33.top/gh/GamerNoTitle/Valora@master/assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="https://cdn.bili33.top/gh/GamerNoTitle/Valora@master/assets/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<link href="https://cdn.bili33.top/gh/GamerNoTitle/Valora@master/assets/css/nucleo-svg.css" rel="stylesheet" />
<!-- CSS Files -->
<link id="pagestyle"
    href="https://cdn.bili33.top/gh/GamerNoTitle/Valora@master/assets/css/soft-design-system.css?v=1.0.9"
    rel="stylesheet" />
<!-- Bootstrap 5 modals -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
    integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.esm.min.js"
    integrity="sha512-ruQ4xI8Jfep9W+qJQ8FLbxsjPVR0WvEt31XNw0mZxri2Nya9eQr7VTFsi+S7OvW0bIUI7vxF8zoaPNSq/PsvxA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- 引入 fancybox CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script defer data-site="val.bili33.top" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
<!-- 引入 jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- 引入 fancybox JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<script defer data-site="val.bili33.top" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0c92d1638b51d9e5eeb143e3c16ba3e7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- Easter Egg -->
<script>(new Date().getDate() === 1 && new Date().getMonth() === 3) && document.write('<script src="https://cdn.bili33.top/gh/Vikutorika/newassets@master/js/smooth-April-Fools.js"><\/script>')</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PZYM17KPGT"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PZYM17KPGT');
</script>
<!-- Custom CSS -->
<link href="/assets/css/custom-color.css" rel="stylesheet" />